BASE_SYSTEM_MODE=<System mode, default: prod>
BASE_TIMEZONE=<Timezone, default: Europe/Minsk>

DATABASE_HOST=<Host of database>
DATABASE_PORT=<Port of database>

DATABASE_USER=<Username of database. Required for dev system mode>
DATABASE_PASSWORD=<Password of user. Required for dev system mode>

DATABASE_BASE=<Database name>

DATABASE_SETTINGS_ENV=<Path to secrets of database. Required for prod system mode>

REDIS_HOST=<Host of redis>
REDIS_PORT=<Port of redis>

REDIS_DB_NUMBER=<Number of redis database>

REDIS_SETTINGS_ENV=<Path to secrets of redis. Required for prod system mode>

LOGGING_SETTINGS_PATH=<Path to logging config in JSON format>