DATABASE_SSL_CERT_FILE=<Path to database SSL cert file (Required for prod system mode, default: /vault/secrets/database-tls.crt)>
DATABASE_SSL_KEY_FILE=<Path to database SSL key file (Required for prod system mode, default: /vault/secrets/database-tls.key)>
DATABASE_SSL_CA_CERT_FILE=<Path to database SSL ca file (Required for prod system mode, default: /vault/secrets/database-tls.ca)>