REDIS_SSL_CERT_FILE=<Path to redis SSL cert file (default: /vault/secrets/database-tls.crt)>
REDIS_SSL_KEY_FILE=<Path to redis SSL key file (default: /vault/secrets/database-tls.key)>
REDIS_SSL_CA_CERT_FILE=<Path to redis SSL ca file (default: /vault/secrets/database-tls.ca)>