DATABASE_HOST=<Database host>
DATABASE_PORT=<Database port>
DATABASE_BASE=<Database base>
DATABASE_SETTINGS_ENV=<Path to database SSL configuration (default: /vault/secrets/database.env)>
DATABASE_SSL_CERT_REQS=<Database SSL check level (none, optional, required)>
DATABASE_SSL_CHECK_HOSTNAME=<Database SSL check hostname (true/false)>

REDIS_HOST=<Redis host>
REDIS_PORT=<Redis port>
REDIS_DB_NUMBER=<Redis DB number>
REDIS_SETTINGS_ENV=<Path to redis SSL configuration (default: /vault/secrets/redis.env)>
REDIS_SSL_CERT_REQS=<Redis SSL check level (none, optional, required)>
REDIS_SSL_CHECK_HOSTNAME=<Redis SSL check hostname (true/false)>
