DATABASE_SSL_CERT_FILE=<Path to database SSL cert file (default: /vault/secrets/database-tls.crt)>
DATABASE_SSL_KEY_FILE=<Path to database SSL key file (default: /vault/secrets/database-tls.key)>
DATABASE_SSL_CA_CERT_FILE=<Path to database SSL ca file (default: /vault/secrets/database-tls.ca)>